<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Company\Model\CompanyRepository">
        <plugin name="ecommerce121_echo_ids_company_fields"
                type="Ecommerce121\EchoIds\Plugin\Model\CompanyRepository\SaveEchoFields"/>
    </type>
    <type name="Magento\Company\Model\Company\DataProvider">
        <plugin name="ecommerce121_echo_ids_get_company"
                type="Ecommerce121\EchoIds\Plugin\Model\Company\DataProvider\GetEchoFields"/>
    </type>
</config>
