<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_catalog_product_save_entity_after">
        <observer name="amfile_save_product_attachments" instance="Amasty\ProductAttachment\Model\Product\Save" />
    </event>
    <event name="catalog_category_save_after">
        <observer name="amfile_save_category_attachments" instance="Amasty\ProductAttachment\Model\Category\Save" />
    </event>
</config>
