<?xml version="1.0"?>
<!--
/**
 * @author 121eCommerce
 * @copyright Copyright (c) 2021 121eCommerce (https://www.121ecommerce.com/)
 * @package Ecommerce121_StickyHeader
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Ecommerce121_StickyHeader" setup_version="2.0.2">
        <sequence>
            <module name="Ecommerce121_Core"/>
        </sequence>
    </module>
</config>
