<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Ui\Component\Listing\Address\Column\Actions">
        <plugin name="ecommerce121_noneditable_customer_address_buttons"
                type="Ecommerce121\NonEditableCustomerAddress\Plugin\Ui\Component\Listing\Address\Column\DisableButtons"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\Create\Customer">
        <plugin name="ecommerce121_non_editable_customer_address_remove_new_customer_button"
                type="Ecommerce121\NonEditableCustomerAddress\Plugin\Sales\Block\Adminhtml\Order\Create\Customer\RemoveCreateNewCustomerButton"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Info">
        <plugin name="ecommerce121_non_editable_customer_address_remove_address_edit_link"
                type="Ecommerce121\NonEditableCustomerAddress\Plugin\Sales\Block\Adminhtml\Order\View\Info\RemoveAddressEditLink"/>
    </type>
</config>
