<?xml version="1.0"?>
<!--
/**
 * @author 121eCommerce
 * @copyright Copyright (c) 2017 121eCommerce (https://www.121ecommerce.com/)
 * @package Ecommerce121_Core
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="module_delete" xsi:type="object">Ecommerce121\Core\Console\Command\ModuleDeleteCommand</item>
            </argument>
        </arguments>
    </type>
</config>
