<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Company\Model\Company\DataProvider">
        <plugin name="ecommerce121_default_warehouse_id_get_field_for_form"
                type="Ecommerce121\CompanyDefaultWarehouse\Plugin\DataProvider\GetField"/>
    </type>
</config>
