<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ecommerce121_customer_address>
            <general>
                <disable>0</disable>
            </general>
        </ecommerce121_customer_address>
    </default>
</config>
